@{

    ViewData["Title"] = "Home Page";
    NewsContext news = new NewsContext();
    TopNews tp = new TopNews();
    
    
}

<h1>Top Stories</h1>
<div style="border-top: 1px solid black;"></div>
<p>@{
        
    }</p>